exclude: ^seekpath/hpkot/band_path_data

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: double-quote-string-fixer

- repo: https://github.com/ikamensh/flynt/
  rev: 1.0.6
  hooks:
  -   id: flynt

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.14
  hooks:
  - id: ruff-format
  - id: ruff
    args: [--fix, --exit-non-zero-on-fix, --show-fixes]

- repo: https://github.com/PyCQA/prospector
  rev: v1.17.3
  hooks:
  - id: prospector
    language: system
