# The following is needed to get the Brillouin zone
scipy==1.2.2
# The following are needed for the web service
Flask==1.1.1
ase==3.15.0
# For the QE importer
qe_tools==1.1.2
pymatgen==2018.12.12
monty==2.0.4
# command line, only for testing
click>=6
