body {
    margin: 0; 
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;

}

html {
  background-color: #fff;
}

canvas { /* For ThreeJS */
width: 100%; 
height: 100% 
}

#maintitle {
    background-color: #fff;
    width: 96%;
    margin: 0px;
    padding: 0px;    
    top: 0px;
    right: 2%;
    text-align: center;
    position: absolute;
}

#canvas3dcontainer {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
    background-color: #fff;
    width: 47%;
    height: 300px;
    margin: 0px;
    padding: 0px;
    position: absolute; 
    top: 90px;
    left: 2%;
    overflow: visible;
}

#structureviewer {
   border: 0px;
}

#canvas3d {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border: 1px solid #bbb;
    margin: 0px;
    padding: 0px;
    position: relative; /* Must be relative for clipping */
    top: 0px;
    left: 0px;
    overflow: hidden;
}

#canvas3dtitle {
    background-color: #fff;
    width: 47%;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 50px;
    left: 2%;
    text-align: center;
}

#tablekpoints {
    background-color: #fff;
    width: 47%;
    margin: 0px;
    padding: 0px;
    border: 1px solid #bbb; 
    top: 0px;
    margin-left: 2%;
    text-align: center;
    float: left;
}

#structureinfo {
    background-color: #fff;
    width: 47%;
    margin: 0px;
    border: 1px solid #bbb; 
    padding: 0px;    
    top: 0px;
    margin-right: 2%;
    text-align: center;
    float:right;
}

#structuretitle {
    background-color: #fff;
    width: 47%;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 50px;
    left: 51%;
    text-align: center;
} 

#structure {
    background-color: #fff;
    width: 47%;
    height: 300px;
    border: 1px solid #bbb;
    margin: 0px;
    padding: 0px;
    position: absolute; 
    top: 90px;
    left: 51%;
    overflow: hidden;
} 

#below {
    top: 420px;
    position: absolute;
    width: 100%;
}

#groupbelow {
}

#rawcode {
    clear: both;
    padding-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
} 

#citations {
    clear: both;
    padding-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
} 

#info {
    top: 95px;
    left: 2%;
    position: fixed;
    z-index: -1;
}

