body {
    margin: 0; 
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;

}

html {
  background-color: #fff;
}

canvas { /* For ThreeJS */
width: 100%; 
height: 100% 
}

.ui-accordion-content > h3 {
    text-align: center;
    font-weight: bold;
}

/* Above */

#above {
  width: 100%;
}

#maintitle {
    background-color: #fff;
    margin: 0px;
    padding: 0px;    
    top: 0px;
    right: 2%;
    text-align: center;
}

#webglcheckwrapper {
    margin: 0px;
    padding: 0px;
    left: 10%;
    width: 80%;
    text-align: center;
    clear: both;
    position: relative;
}

#aboveleft {
    width: 47%;
    margin: 0px;
    padding: 0px;
    top: 0px;
    margin-left: 2%;
    float: left;
}

@media screen and (max-width: 600px) {
    #aboveleft {
        width: 85%;
	margin-left: 7.5%;
	margin-right: 7.5%;
	float: center;
        clear: both;
    }
}

#aboveright {
    width: 47%;
    margin: 0px;
    padding: 0px;
    top: 0px;
    margin-right: 2%;
    float: right;
}

@media screen and (max-width: 600px) {
    #aboveright {
        width: 85%;
	margin-left: 7.5%;
	margin-right: 7.5%;
	float: center;
	clear: both;
    }
}

#canvas3dtitle {
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 0px;
    left: 0%;
    text-align: center;
}

#canvas3d {
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative; /* Must be relative for clipping */
    top: 0px;
    left: 0px;
    overflow: hidden;
}

#canvas3dcontainer {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
    background-color: #fff;
    width: 100%;
    height: 450px;
    margin: 0px;
    padding: 0px;
    position: relative; 
    top: 0px;
    left: 0%;
    overflow: visible;
    border: 1px solid #bbb;
}

@media screen and (max-width: 900px) {
    #canvas3dcontainer {
	height: 300px;
    }
}

#structureviewer {
   border: 0px;
}

#structuretitle {
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 0px;
    text-align: center;
} 

#structure {
    background-color: #fff;
    width: 100%;
    height: 450px;
    border: 1px solid #bbb;
    margin: 0px;
    padding: 0px;
    position: relative; 
    top: 0px;
    left: 0%;
    overflow: hidden;
} 

@media screen and (max-width: 900px) {
    #structure {
        height: 300px;
    }
}

/* Below */

#below {
    clear: both;
    padding-top: 20px;
    width: 100%;
}

#groupbelow {
}

#tablekpoints {
    background-color: #fff;
    width: 47%;
    margin: 0px;
    padding: 0px;
    border: 1px solid #bbb; 
    top: 0px;
    margin-left: 2%;
    text-align: center;
    float: left;
}

#structureinfo {
    top: 0px;
    background-color: #fff;
    width: 47%;
    margin: 0px;
    border: 1px solid #bbb; 
    padding: 0px;    
    margin-right: 2%;
    text-align: center;
    float:right;
}

@media screen and (max-width: 900px) {
    #tablekpoints {
	float: center;
	margin-left: 2%;
	margin-right: 2%;
	clear: both;
	width: 96%;
    }

    #structureinfo {
	float: center;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 20px;
	clear: both;
	width: 96%;
    }
}

@media screen and (max-width: 600px) {
    #tablekpoints {
	float: center;
	margin-left: 7.5%;
	margin-right: 7.5%;
	clear: both;
	width: 85%;
    }

    #structureinfo {
	float: center;
	margin-left: 7.5%;
	margin-right: 7.5%;
	margin-top: 20px;
	clear: both;
	width: 85%;
    }
}

#citations {
    clear: both;
    padding-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
} 

.clipboardbtn {
osition: relative;
display: inline-block;
padding: 6px 12px;
font-size: 13px;
font-weight: bold;
line-height: 20px;
color: #333;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
background-color: #EEE;
background-image: linear-gradient(#FCFCFC, #EEE);
border: 1px solid #D5D5D5;
border-radius: 3px;
-moz-user-select: none;
}

#topinfo {
    clear: both;
    padding-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
} 

#rawcode {
    clear: both;
    padding-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
} 

#finalinfo {
    clear: both;
    padding-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
} 

#info {
    top: 95px;
    left: 2%;
    position: fixed;
    z-index: -1;
}

/* The following is adapted from Bootstrap */

.alert {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
