<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../static/css/visualizer_base.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/visualizer_input.min.css"/>
    <script src="../static/js/jquery-3.1.0.min.js"></script>        
    <script src="../static/js/jquery-ui.1.12.1.min.js"></script>        
    <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.1.12.1.min.css"/>

    <title>SeeK-path: the k-path finder and visualizer</title>
    <script>
    $( function() {
      $( "#accordion" ).accordion({
        collapsible: true,
        heightStyle: "content", // Avoid that all have the same height
        active: false  // Start all closed
      });

      $( "#fileformatSelect" ).change(function() {
        if ( $(this).val() == "xyz-ase" )
          $( "#xyzFormatFields" ).show();
        else
          $( "#xyzFormatFields" ).hide();
      });
    });
    </script>

    {% block customheads %}
    {% endblock %}

    <script src="../static/js/iframeResizer.contentWindow.min.js"></script>
  </head>

</head>

<body>
<div id='container'>
<div id='maintitle'>
  {% block seekpathtitle %}
    <h1 style="text-align: center;"><span style="font-weight: bold;">SeeK-path</span>: the <span style="font-style: italic">k</span>-path finder and visualizer</h1>
  {% endblock %}
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-danger">
    Warning:
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    </div>
  {% endif %}
{% endwith %}

<!--<h2><a href="#tool">Skip the introduction and jump directly to the tool</a></h2>-->

{% block aboutblock %}
<div id="accordion">
<h2>What SeeK-path does</h2>
<div>
<p>This tool takes in <strong>input a crystal structure</strong> (in a number of different formats), and 
<ul>
<li>finds its <strong>spacegroup</strong>;</li>
<li>computes the <strong>crystallographic primitive cell</strong> (i.e., always oriented according to crystallographic standard definitions);</li>
<li>computes the <strong>Brillouin zone</strong>;</li>
<li>provides <strong>interactive visualization</strong> of primitive cell and Brillouin zone;</li>
<li>computes all <strong>high-symmetry k-points coordinates</strong>;</li>
<li>for band structure plotting, provides a <strong>complete list of high-symmetry paths</strong> in the Brillouin zone going between the high-symmetry k-points;</li>
<li>provides <strong>copy-paste content</strong> to input the kpoints in an external code or input file.</li>
</ul>
<p>
<p><em>Alternatively, you can calculate and visualize an example</em>.<br>(There is one example for each possible extended Bravais symbol, both for systems with and without inversion symmetry.)
</p>
</div>

<h2>SeeK-path definitions and advantages</h2>
<div>
<p>This tool follows the definitions of the <a href="#hpkot">HPKOT paper</a>. The main advantages of this work are:
<ul>
<li><strong>use of the <em>crystallographic</em> cells</strong>: The conventional cell is standardized according to the definitions that are
standard in the field in crystallography: the <em>International Tables of Crystallography</em> (the Tables, from here on), and <em>Parth&eacute;, Gelato, Acta Cryst. A40, 169 (1984)</em>. Just a couple of examples: 
<ul>
  <li>orientation of the axes follows the standards mentioned above, e.g., monoclinic cells are always <em>b</em>-axis unique.</li>
  <li>order of axes is imposed only when not already imposed by symmetry, (following the prescriptions of Parth&eacute; and Gelato). E.g., for spacegroup Pmm2 (orthorhombic), the third axis is fixed by symmetry (the one with 180&deg; rotation but no mirror plane). Therefore, we only impose <em>a&lt;b</em>, with no ordering imposed on <em>c</em>.</li>
 </ul></li>
<li><strong>Unambiguous high-symmetry k-point labels</strong>. For rational k-points, we use the same labels as the ones defined in the Tables. For irrational k-points (not defined in the Tables), letters are chosen so as to never collide with existing letters in the Tables.</li>
<li><strong>Complete set of high-symmetry paths (band lines), using also spacegroup symmetry when needed</strong>. For instance, spacegroup Pm-3 (cubic primitive, extended Bravais lattice cP1) does not have 90&deg; rotation symmetries, so both the lines M&ndash;X and M&ndash;X<sub>1</sub> must be considered.</li>
</ul>
</p>
</div>
</div>

{% endblock %}

<h2><a name="tool"></a>Upload your structure</h2>
<div style="margin-left: 20px; margin-right: 20px">
  <form action="../process_structure/" enctype="multipart/form-data" method="post">
    <div class='alert alert-info'>
      <div class='row'>
	<div class='col-xs-12 col-sm-6'>
	  <label for="file">Upload a crystal structure:</label>
	</div>
	<div class="col-xs-12 col-sm-6">
	  <input type="file" name="structurefile" size="100">
	</div>
      </div>
      <div class='row'>
	<div class='col-sm-6'>
	  <label for="fileformat">Select here the file format:</label>
	</div> 
	<div class='col-sm-6'>
	  <select name="fileformat" id="fileformatSelect">
        <option value="qeinp-qetools">Quantum ESPRESSO input [parser: qe-tools]</option>
        <option value="vasp-ase">VASP POSCAR [parser: ase]</option>
        <option value="xsf-ase">XCrySDen (.xsf) [parser: ase]</option>
        <option value="castep-ase">CASTEP (.cell) [parser: ase]</option>
	      <option value="pdb-ase">Protein Data Bank format (.pdb) [parser: ase]</option>
	      <option value="xyz-ase">XYZ File (.xyz) [parser: ase]</option>
        <option value="cif-ase">CIF File (.cif) [parser: ase]</option>
        <option value="cif-pymatgen">CIF File (.cif) [parser: pymatgen]</option>
	  </select>
	</div> 
      </div>
      <div id="xyzFormatFields" class="row" style="display: none">
        <div class='col-sm-6'>Cell vectors (&#x212B;)</div>
        <div class='col-sm-6'>
          <div class='row'>
            <div class='col-xs-2'>A</div>
            <div class='col-xs-3'><input type="number" step="any" class="form-control" name="xyzCellVecAx"></div>
            <div class='col-xs-3'><input type="number" step="any" class="form-control" name="xyzCellVecAy"></div>
            <div class='col-xs-3'><input type="number" step="any" class="form-control" name="xyzCellVecAz"></div>
          </div>
          <div class='row'>
            <div class='col-xs-2'>B</div>
            <div class='col-xs-3'><input type="number" step="any" class="form-control" name="xyzCellVecBx"></div>
            <div class='col-xs-3'><input type="number" step="any" class="form-control" name="xyzCellVecBy"></div>
            <div class='col-xs-3'><input type="number" step="any" class="form-control" name="xyzCellVecBz"></div>
          </div>
          <div class='row'>
            <div class='col-xs-2'>C</div>
            <div class='col-xs-3'><input type="number" step="any" class="form-control" name="xyzCellVecCx"></div>
            <div class='col-xs-3'><input type="number" step="any" class="form-control" name="xyzCellVecCy"></div>
            <div class='col-xs-3'><input type="number" step="any" class="form-control" name="xyzCellVecCz"></div>
          </div>
        </div>
      </div>
      <div class='row' style="text-align:center">
        <p class='small'>By continuing, you agree with the <a href="../termsofuse/" target="_blank">terms of use</a> of this service.</p>
        <input type="submit" value="Calculate my structure" class="btn btn-default">
      </div>
    </div>
  </form>
</div>

<h2>Otherwise, pick an example</h2>
<form action="../process_example_structure/" method="post">
  <div style="margin-left: 20px; margin-right: 20px;">
    <div class='alert alert-info'>
      <div class="row">
	<div class="col-xs-12 col-sm-6">
	  <label for="examplestructure">Select here an extended Bravais Symbol:</label>
	</div>
	<div class="col-xs-12 col-sm-6">
	  <select name="examplestructure">
	    <option value='aP2_inv'>aP2 [with inversion]</option>
	    <option value='aP3_inv'>aP3 [with inversion]</option>
	    <option value='cF1_inv'>cF1 [with inversion]</option>
	    <option value='cF2_inv'>cF2 [with inversion]</option>
	    <option value='cI1_inv'>cI1 [with inversion]</option>
	    <option value='cP1_inv'>cP1 [with inversion]</option>
	    <option value='cP2_inv'>cP2 [with inversion]</option>
	    <option value='hP1_inv'>hP1 [with inversion]</option>
	    <option value='hP2_inv'>hP2 [with inversion]</option>
	    <option value='hR1_inv'>hR1 [with inversion]</option>
	    <option value='hR2_inv'>hR2 [with inversion]</option>
	    <option value='mC1_inv'>mC1 [with inversion]</option>
	    <option value='mC2_inv'>mC2 [with inversion]</option>
	    <option value='mC3_inv'>mC3 [with inversion]</option>
	    <option value='mP1_inv'>mP1 [with inversion]</option>
	    <option value='oC1_inv'>oC1 [with inversion]</option>
	    <option value='oC2_inv'>oC2 [with inversion]</option>
	    <option value='oF1_inv'>oF1 [with inversion]</option>
	    <option value='oF3_inv'>oF3 [with inversion]</option>
	    <option value='oI1_inv'>oI1 [with inversion]</option>
	    <option value='oI2_inv'>oI2 [with inversion]</option>
	    <option value='oI3_inv'>oI3 [with inversion]</option>
	    <option value='oP1_inv'>oP1 [with inversion]</option>
	    <option value='tI1_inv'>tI1 [with inversion]</option>
	    <option value='tI2_inv'>tI2 [with inversion]</option>
	    <option value='tP1_inv'>tP1 [with inversion]</option>
	    <option value='aP2_noinv'>aP2 [no inversion]</option>
	    <option value='aP3_noinv'>aP3 [no inversion]</option>
	    <option value='cF1_noinv'>cF1 [no inversion]</option>
	    <option value='cF2_noinv'>cF2 [no inversion]</option>
	    <option value='cI1_noinv'>cI1 [no inversion]</option>
	    <option value='cP1_noinv'>cP1 [no inversion]</option>
	    <option value='cP2_noinv'>cP2 [no inversion]</option>
	    <option value='hP1_noinv'>hP1 [no inversion]</option>
	    <option value='hP2_noinv'>hP2 [no inversion]</option>
	    <option value='hR1_noinv'>hR1 [no inversion]</option>
	    <option value='hR2_noinv'>hR2 [no inversion]</option>
	    <option value='mC1_noinv'>mC1 [no inversion]</option>
	    <option value='mC2_noinv'>mC2 [no inversion]</option>
	    <option value='mC3_noinv'>mC3 [no inversion]</option>
	    <option value='mP1_noinv'>mP1 [no inversion]</option>
	    <option value='oA1_noinv'>oA1 [no inversion]</option>
	    <option value='oA2_noinv'>oA2 [no inversion]</option>
	    <option value='oC1_noinv'>oC1 [no inversion]</option>
	    <option value='oC2_noinv'>oC2 [no inversion]</option>
	    <option value='oF1_noinv'>oF1 [no inversion]</option>
	    <option value='oF2_noinv'>oF2 [no inversion]</option>
	    <option value='oF3_noinv'>oF3 [no inversion]</option>
	    <option value='oI1_noinv'>oI1 [no inversion]</option>
	    <option value='oI2_noinv'>oI2 [no inversion]</option>
	    <option value='oI3_noinv'>oI3 [no inversion]</option>
	    <option value='oP1_noinv'>oP1 [no inversion]</option>
	    <option value='tI1_noinv'>tI1 [no inversion]</option>
	    <option value='tI2_noinv'>tI2 [no inversion]</option>
	    <option value='tP1_noinv'>tP1 [no inversion]</option>
	  </select>
	</div>
      </div>
      <div class='row' style="text-align: center">
        <p class='small'><a href="../bravaissymbol_explanation/" target="_blank">
            A simple explanation of the 
            extended Bravais symbols</a>.</p>
	<input type="submit" value="Calculate this example" class="btn btn-default"> 
      </div>
    </div>
  </div>
</form>

    <div id='citations'>
        <h2>How to cite</h2>
        <p>If you use this tool, please cite the following work:
        <ul>
        <li><a name="hpkot"></a><a href="http://dx.doi.org/10.1016/j.commatsci.2016.10.015" target="_blank">Y. Hinuma, G. Pizzi, Y. Kumagai, F. Oba, I. Tanaka, Band structure diagram paths based on crystallography, Comp. Mat. Sci. 128, 140 (2017). DOI: 10.1016/j.commatsci.2016.10.015</a>  (the "HPKOT" paper; arXiv version: <a href="https://arxiv.org/abs/1602.06402" target="_blank">arXiv:1602.06402</a>).
        </li>
        <li>You should also cite <a href="http://atztogo.github.io/spglib/" target="_blank">Spglib</a> 
            that is an essential library used in the implementation.
        </li>
        <li>
      	  The input parsers use a number of libraries (see name in the dropdown list) from
      	     <a href="https://wiki.fysik.dtu.dk/ase/" target="_blank">ASE</a>, 
             <a href="https://github.com/aiidateam/qe-tools" target="_blank">qe-tools</a> or 
             <a href="http://pymatgen.org" target="_blank">pymatgen</a>.
      	</li>
        </ul>
        </p>
	<p>Note: if you want to use the code on your computer, you can download the
           SeeK-path python library from <a href="http://github.com/giovannipizzi/seekpath" target="_blank">the SeeK-path GitHub repository</a>. 
    </div>

</div>

<div style ="position: relative" data-iframe-height></div>
</body>
</html>
